/* Global Styling */

body {
  background-color: #cdd2d9;
  padding: 80px;
  font-family: Arial;
  text-align: center;
}

/* Navbar Styling */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: #333;
}

.navbar-logo img {
  height: 50px;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-links li {
  display: inline;
}

.navbar-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* Header Styling */

.arte_suave_logo {
  width: 50%; /* 50% of the container's width */
  height: auto;
}

/* Footer Styling */

footer {
  /* background-color: #a3d296; */
  padding: 20px;
}

.quick-links ul,
.follow-us ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
